/* BULMA - Customising.
========================================================================== */
@import "../../../node_modules/bulma/sass/utilities/initial-variables";

$primary: #3d01a6;
$primary-invert: #fff;
$info: #a600a3;


@import "../../../node_modules/bulma/bulma";

/* FONT-AWESOME
========================================================================== */
@import "../../../node_modules/font-awesome/scss/font-awesome";

/* Module styles
========================================================================== */
@import "partials/base";
